.carousel-promo
  background-color: #f6f3ec

.carousel-image
  width 100%
  background-color: #ededed
  position: relative
  text-align: center
  overflow: hidden

.carousel-image  .local-wrapper
  overflow: hidden

  &>img
    width: 100%
    height: auto
    margin: 0px
    display block
    position relative

    &.left.ng-enter
      position relative
      transform: translateX(100%)
      transition-property: transform
      transition-duration: 500ms

    &.left.ng-enter.ng-enter-active
      position relative
      transform: translateX(0px)

    &.left.ng-leave
      display block
      position absolute
      top: 0
      left: 0
      transform: translateX(0)
      transition-property: transform
      transition-duration: 500ms

    &.left.ng-leave.ng-leave-active
      display block
      position absolute
      top: 0
      left: 0
      transform: translateX(-100%)

    &.right.ng-enter
      position relative
      transform: translateX(-100%)
      transition-property: transform
      transition-duration: 500ms

    &.right.ng-enter.ng-enter-active
      position relative
      transform: translateX(0px)

    &.right.ng-leave
      display block
      position absolute
      top: 0
      left: 0
      transform: translateX(0)
      transition-property: transform
      transition-duration: 500ms

    &.right.ng-leave.ng-leave-active
      display block
      position absolute
      top: 0
      left: 0
      transform: translateX(100%)

.carousel
  position: absolute
  display: table-cell
  width: 30px
  height: 118px
  top: 50%
  transform: translateY(-59px)
  background-color: rgba(255, 255, 255, 0.9);
  padding-top: 50px
  text-align: center
  cursor: pointer

  &.left
    left: 0px

  &.right
    right: 0px

carousel-track-height = 75px
.carousel-track
  height: carousel-track-height
  display: flex
  justify-content: center

  a
    height: carousel-track-height
    display: block
    position: relative

    i.icon
      cursor: pointer
      display: block
      position: relative
      top: 50%
      transform: translateY(-0.5em)
      background-color: transparent
      width: 30px
      text-align: center
      font-size: 1.6em

      &::before
        padding 0

      &.active
        color: #fd926d
