large-screen = 1080px
middle-screen = 815px
small-screen = 640px
body-text-color = #555555
font-weight-normal = 400
font-weight-bold = 700

.discounts
  width 100%
  height: 670px

.discounts-top
  max-width: 970px
  height auto
  margin-top 20px
  margin-left auto
  margin-right auto
  text-align center
  position relative
  img
    display inline-block
    height: 100%
    width: auto
    margin 0px 100px
  .discounts-border
    width: 100%
    height: 50%
    position: absolute
    bottom: 0
    border-top: solid 1px #d8d8d8

.discounts-positions
  height 455px
  margin-left 100px
  margin-right 100px
  overflow hidden
  @media screen and (max-width: small-screen)
    margin-left 5px
    margin-right 5px

