large-screen = 1080px
middle-screen = 815px
small-screen = 640px
body-text-color = #555555
font-weight-normal = 400
font-weight-bold = 700

footer-short-base-color = #8d8d8d
footer-text-color=#544e4d
full-size-menu-height = 56px

.footer-full
  position: relative
  padding-bottom: 74px
  width: 100%
  overflow: hidden

.payments-box
  position: relative
  text-align: center
  background-color: #f7f7f7;
  height: 58px
  padding-top: 20px

  span
    display: inline-block
    position: relative
    transform: translateY(-0.5em)
    margin-right: 20px

  img
    display: inline-block
    position: relative

.footer-main
  background-color: #ededed
  min-height: 160px

  .local-wrapper
    display: flex
    flex-flow: row wrap

  h2
    font-size: 1.143em
    font-weight: font-weight-bold
    letter-spacing: -0.01em
    line-height: 1.25
    text-align: left
    margin-top: 0px
    margin-bottom: 5px

  .footer-links
    display: flex
    height: 100%

    .footer-link
      color: footer-text-color
      padding-left: 30px
      padding-right: 30px
      padding-top: 15px
      padding-bottom: 30px

      a
        display: block
        font-size: 0.857em
        line-height: 1.5
        text-align: left

        &:link
        &:visited
          color: footer-text-color
          text-decoration: none

        &:hover
          text-decoration: underline

  .footer-social
    width: 200px
    height: 100%
    color: footer-text-color
    padding-left: 30px
    padding-right: 30px
    padding-top: 15px
    padding-bottom: 30px

    .footer-social-icons
      display: flex
      flex-flow: row wrap

      a.round-social
        text-align: center
        flex-shrink: 0
        padding: 0px
        margin: 5px
        display: block
        background-color: #4c4c4b
        width: 35px
        height: 35px
        border-radius: 50%

        &:hover
          transform: scale(1.1, 1.1)

        .icon
          display: inline-block
          position: relative
          top: 50%
          transform: translateY(-0.5em)
          font-size: 1.5em
          color #ffffff

  .footer-logo
    padding-left: 30px
    padding-right: 30px
    padding-top: 15px
    padding-bottom: 30px

.footer-short
  background-color: #000000
  width: 100%
  position: absolute
  bottom: 0
  color: footer-short-base-color
  font-size:0.86em
  line-height: 1.818

  .footer-short-links a
    height: 74px
    padding-left: 10px
    padding-right: 10px
    border-left: 1px solid #8d8d8d

    &:first-child
      border-left: 0px

    &:link
    &:visited
      color: footer-short-base-color
      text-decoration: none

    &:hover
      text-decoration: underline

    &.menu-header
      display: none
      text-decoration: none
      cursor: inherit
      .icon
        cursor: pointer

  .footer-short-cr
    height: 74px
    margin-left: auto
    display: flex
    flex-flow: column nowrap
    justify-content: center
    span
      display: block

@media screen and (max-width: small-screen)
  .footer-main .local-wrapper
    flex-flow: column

    .footer-links
      flex-flow: column

    .footer-logo
      padding-bottom: 90px

  .footer-short .local-wrapper
    flex-flow: column

    .footer-short-links
      border-top: 1px solid white
      order: 2
      flex-flow: column
      width: 100%

      a
        border-left: 0px
        text-transform: uppercase
        width: 100%
        display: flex
        align-items: center
        justify-content: space-between
        height: full-size-menu-height

        &:not(.open):not(.menu-header)
          height: 0px
          visibility: hidden
          border: 0px
          transition: height 50ms

        &.open
          transition: height 300ms
          border-bottom: 1px solid #fff
          visibility: visible

        &.menu-header
          display: flex
          i.icon
            font-size: 1.6em
            margin-right: 10px
