large-screen = 1080px
middle-screen = 815px
small-screen = 640px
body-text-color = #555555
font-weight-normal = 400
font-weight-bold = 700


user-toolbox-height=30px
.user-toolbox
  background-color: #000000
  color: #ffffff
  font-size: 0.786em
  letter-spacing: -0.005em
  text-transform: uppercase
  @media screen and (max-width: small-screen)
    flex-flow column

  .care-info
    display flex
    align-items: center
    justify-content: center
    @media screen and (max-width: small-screen)
      height: user-toolbox-height
      width 100%
      text-align center
      background-color: #fafafa
      color: body-text-color


.shop-settings
  height: user-toolbox-height
  display: flex
  align-items: center
  margin-left: auto
  @media screen and (max-width: small-screen)
    width 100%
    margin-right: auto

  div
    text-align: center
    height: 100%
    border-width: 1px
    border-color: #444444
    border-style: solid
    display: flex
    align-items: center
    justify-content: center


  .currency-select
    width: 70px

  .account-button
    width: 127px
    i.icon
      font-size: 1.6em
      color: #666666

  .search-button
    width: 35px
    i.icon
      font-size: 1.6em

.menu-box
  @media screen and (max-width: middle-screen)
    flex-flow row wrap
    img
      order: 1
    .cart-box
      order: 2
    .top-menu
      order: 3

  img.shop-logo
    height: 33px
    width: auto
    @media screen and (max-width: small-screen)
      margin 20px 0px


  .top-menu
    display: flex
    margin-left: auto
    @media screen and (max-width: middle-screen)
      flex-flow column
      width 100%
    a.menu-item
      cursor pointer
      height: 28px
      padding-left: 15px
      padding-right: 15px
      display: block
      font-size: 1.143em;
      color: #000000
      @media screen and (max-width: large-screen)
        padding-left: 5px
        padding-right: 5px
      @media screen and (max-width: middle-screen)
        width: 100%
        height: 56px
        display: none
        text-transform uppercase
        &.open
          display flex
          align-items: center
          justify-content: space-between
          border-bottom: 1px solid #d6d6d6;
      .icon
        margin-left: 5px
    a.menu-header
      display none
      @media screen and (max-width: middle-screen)
        display: flex
        align-items: center
        justify-content: space-between
        background-color: #fd926d
        color #fff
        &.open
          border-bottom: 1px solid #fff;
        i
          font-size 1.6em

  .cart-box
    width: 214px
    color: #949393
    font-size: 0.857em
    letter-spacing: +0.055em
    margin 30px 0px
    @media screen and (max-width: middle-screen)
      margin-left auto
    @media screen and (max-width: small-screen)
      width 100%
      margin 0px 0px


    .cart-button
      height: 33px
      border: 1px solid #d6d6d6
      display: flex
      align-items: center
      padding-left: 10px
      padding-right: 10px
      @media screen and (max-width: small-screen)
        display none

      i.icon
        display: block
        margin-left: auto

    .cart-totall
      height: 33px
      border-left: 1px solid #d6d6d6
      border-right: 1px solid #d6d6d6
      border-bottom: 1px solid #d6d6d6
      display: flex
      align-items: center
      padding-left: 10px
      padding-right: 10px
      @media screen and (max-width: small-screen)
        height: 56px
      i.icon
        font-size: 1.6em
      span.total
        margin-left: auto
