large-screen = 1080px
middle-screen = 815px
small-screen = 640px
body-text-color = #555555
font-weight-normal = 400
font-weight-bold = 700


user-toolbox-height=30px
.user-toolbox
  background-color: #000000
  color: #ffffff
  font-size: 0.786em
  letter-spacing: -0.005em
  text-transform: uppercase

  .care-info
    display flex
    align-items: center
    justify-content: center

  .shop-settings
    height: user-toolbox-height
    display: flex
    align-items: center
    margin-left: auto

    div
      text-align: center
      height: 100%
      border-width: 1px
      border-color: #444444
      border-style: solid
      display: flex
      align-items: center
      justify-content: center


    .currency-select
      width: 70px

    .account-button
      width: 127px
      i.icon
        font-size: 1.6em
        color: #666666

    .search-button
      width: 35px
      i.icon
        font-size: 1.6em

.menu-box
  img.shop-logo
    height: 33px
    width: auto
  .top-menu
    display: flex
    margin-left: auto
    .menu-item
      cursor pointer
      height: 28px
      padding-left: 15px
      padding-right: 15px
      display: block
      font-size: 1.143em;
      color: #000000

    .menu-header
      display none

  .cart-box
    width: 214px
    color: #949393
    font-size: 0.857em
    letter-spacing: +0.055em
    margin 30px 0px

    .cart-button
      height: 33px
      border: 1px solid #d6d6d6
      display: flex
      align-items: center
      padding-left: 10px
      padding-right: 10px
      i.icon
        display: block
        margin-left: auto

    .cart-totall
      height: 33px
      border-left: 1px solid #d6d6d6
      border-right: 1px solid #d6d6d6
      border-bottom: 1px solid #d6d6d6
      display: flex
      align-items: center
      padding-left: 10px
      padding-right: 10px
      i.icon
        font-size: 1.6em
      span.total
        margin-left: auto

full-size-menu-height = 56px
@media screen and (max-width: large-screen)
  .menu-box
    .local-wrapper
      .top-menu
        .menu-item
          padding-left: 5px
          padding-right: 5px

@media screen and (max-width: middle-screen)
  .menu-box
    .local-wrapper
      flex-flow row wrap
      img.shop-logo
        order: 1
      .cart-box
        order: 2
        margin-left auto
      .top-menu
        order: 3
        flex-flow column
        width 100%
        .menu-item
          width: 100%
          height: full-size-menu-height
          display: flex
          align-items: center
          justify-content: space-between
          border-bottom: 1px solid #d6d6d6
          text-transform uppercase
          overflow: hidden
          &:not(.open):not(.menu-header)
            visibility hidden
            height 0px
            border-bottom: 0px
            transition height 50ms
          &.open
            visibility visible
            transition height 300ms
          .icon
            margin-left: 5px
        .menu-header
          background-color: #fd926d
          color #fff
          border-bottom: 1px solid #fff;
          i
            font-size 1.6em

@media screen and (max-width: small-screen)
  .user-toolbox
    flex-flow column
    .care-info
      height: user-toolbox-height
      width 100%
      text-align center
      background-color: #fafafa
      color: body-text-color
    .shop-settings
      width 100%
      margin-right: auto
  .menu-box
    justify-content: center
    img.shop-logo
      margin 20px 0px
    .cart-box
      width 100%
      margin 0px 0px
      .cart-button
        display none
      .cart-totall
        height: full-size-menu-height
