.user-toolbox
  height: 30px
  background-color #000000
  color #ffffff
  font-size: 0.788em
  text-transform: uppercase
  padding-left 115px
  padding-right 115px
  display flex

.care-info
  padding-top 8px
  padding-bottom 8px


.shop-settings
  height 100%
  display flex
  margin-left auto
  section
    height 100%
    padding-top 8px
    padding-bottom 8px
    border-width 1px
    border-color red
    border-style solid


.currency-select
  width 70px

.account-button
  width: 127px

.search-button
  width: 35px

.menu-box
  border 1px solid red
  height 108px

.slider-promo
  border 1px solid red
  height 438px
