large-screen = 1080px
middle-screen = 760px
small-screen = 640px
body-text-color = #555555

.full-flex-container
  display: flex
  align-items: center
  padding-left: 10%
  padding-right: 10%
  @media screen and (max-width: large-screen)
    padding-left: 5%
    padding-right: 5%


.user-toolbox
  height: 30px
  background-color: #000000
  color: #ffffff
  font-size: 0.786em
  letter-spacing: -0.005em
  text-transform: uppercase

.care-info
  padding-top: 8px
  padding-bottom: 8px


.shop-settings
  height: 100%
  display: flex
  margin-left: auto

  div
    text-align: center
    height: 100%
    padding-top: 9px
    border-width: 1px
    border-color: #444444
    border-style: solid

  .currency-select
    width: 70px

  .account-button
    width: 127px
    padding-top: 3px
    i.icon
      font-size: 1.6em
      color: #666666

  .search-button
    width: 35px
    padding-top: 5px
    i.icon
      font-size: 1.6em

.menu-box
  height: 105px
  img.shop-logo
    height: 28px
    width: auto

  menu
    height: 28px
    display: flex
    margin-left: auto

    menu-item
      cursor pointer
      padding-left: 15px
      padding-right: 15px
      display: block
      font-size: 1.143em;
      color: #000000
      .icon
        margin-left: 5px

.cart-box
  width: 214px
  height: 66px
  color: #949393
  font-size: 0.857em
  letter-spacing: +0.055em

  .cart-button
    height: 33px
    border: 1px solid #d6d6d6
    display: flex
    padding-left: 10px
    padding-top: 9px
    padding-right: 10px
    i.icon
      display: block
      margin-left: auto

  .cart-totall
    height: 33px
    border-left: 1px solid #d6d6d6
    border-right: 1px solid #d6d6d6
    border-bottom: 1px solid #d6d6d6
    display: flex
    padding-left: 10px
    padding-top: 9px
    padding-right: 10px
    i.icon
      font-size: 1.6em
    span.total
      margin-left: auto

.slider-promo
  height: 515px

.slider-image
  background-color: #f6f3ec
  height: 440px
  position: relative
  text-align center

.slider
  position: absolute
  display table-cell
  width: 30px
  height: 117px
  top: 162px
  background-color: rgba(255, 255, 255, 0.9);
  padding-top: 50px
  text-align: center
  cursor pointer
  &.left
    left: 0px
  &.right
    right: 0px


.slider-track
  height: 75px
  display: flex
  justify-content: center
  a
    display inline-block
    i
      display block
      position relative
      top 50%
      margin-top: -0.5em;
      background-color: transparent
      width: 30px
      text-align center
      &.selected
        color #fd926d
      &.icon
        cursor pointer

user-connections-height = 55px
user-connections-back = #ededed
user-connections-back_alt = #f7f7f7
user-connections-text = #6b6b6b
user-connections-inp = #9f9f9f
.user-connections
  background-color: user-connections-back
  height: user-connections-height
  color: user-connections-text
  h3
    font-size: 0.857em
    font-weight: 400;
    letter-spacing: -0.005em
    margin-right 15px

  .email-subscription
    display flex
    align-items: center
    input
      border 0px
      height: 28px
      color: user-connections-inp
      font-size: 0.857em
      font-style: italic
      letter-spacing: -0.005em
      text-align: left
      padding-left 10px

    input:focus
        color: user-connections-text
        font-style: normal
    img.email-do
        position relative
        right 2px
        height 26px
        width auto

  .social-buttons
    height user-connections-height
    margin 0px
    padding 0px
    border-width 0px
    display flex
    margin-left: auto
    align-items: center
    a
      display block
      text-align: center
      height user-connections-height
      width user-connections-height
      margin 0px
      padding 0px
      border-width 0px
      transition: transform 0.5s
      &:link
      &:visited
        text-decoration none
        color: user-connections-text
      &:hover
        transform: scale(1.1, 1.1);
        transition: transform 0s
      i.icon
        display block
        position relative
        top 50%
        margin-top: -0.5em
        font-size 27px
      &:nth-child(even)
        background-color user-connections-back_alt
      &:nth-child(odd)
        background-color user-connections-back


.promo-boxes
  max-width: 970px
  height: 345px
  display: flex
  flex-flow column wrap
  margin-top: 40px
  margin-bottom: 40px
  margin-left auto
  margin-right auto
  align-content: center
  overflow hidden
  section
    padding 1px
    img
      height 100%
      width auto
  .promo-big
    width: 484px
    height: 340px

  .promo-long
    width: 484px
    height: 169px

  .promo-small
    width: 241px
    height: 169px

color-back-activ = #fd926d
.hot-sales
  hot-menu-height = 45px
  .hot-menu
    height: hot-menu-height
    .hot-buttons
      height hot-menu-height
      margin 0px
      padding 0px
      border-width 0px
      display flex
      a
        display inline-block
        height 100%
        text-transform uppercase
        padding-left 15px
        padding-right 15px
        &.active
          background-color color-back-activ
          color #ffffff
        &:link
        &:visited
          text-decoration none
          color: body-text-color
        &:hover
          text-decoration underline
        span
          display block
          position relative
          top 50%
          margin-top: -0.5em

    .hot-leftrigth
      margin-left: auto
      height hot-menu-height
      padding 0px
      border-width 0px
      display flex
      a
        display block
        text-align: center
        background-color #f2f2f2
        width hot-menu-height
        height hot-menu-height
        margin 0px
        padding 0px
        border-width 0px
        &.active
          background-color #fd926d
          color #ffffff
        i.icon
          cursor pointer
          display block
          position relative
          top 50%
          margin-top: -0.5em
          font-size 45px

  .hot-positions
    height 455px
    background-color #fd926d
    overflow hidden

.discounts
  width 100%
  height: 670px

.discounts-top
  width: 970px
  height auto
  margin-top 20px
  margin-left auto
  margin-right auto
  img
    width 100%
    height auto

.discounts-positions
  height 455px
  margin-left 100px
  margin-right 100px
  overflow hidden

.fav-brands-box
  border-top: solid 1px #d8d8d8
  border-bottom: solid 1px #d8d8d8
  padding-bottom 30px
  min-height: 100px
  .fav-brand-header
    display block
    margin-left auto
    margin-right auto
    margin-top 0px
    margin-bottom 0px
    width 200px
    padding-left 10px
    padding-right 10px
    background-color #ffffff
    text-transform uppercase
    color: #414141
    font-size: 1.071em
    font-weight: 700
    letter-spacing: -0.01em
    text-align: center
    transform: translateY(-0.6em)
  .brand-logos
    text-align center
    img
      margin-left 20px
      margin-right 20px


.about-box
  min-height: 160px
  text-align: center;
  padding-left: 5%
  padding-right: 5%
  h2
    color: #414141
    font-size: 1.714em
    font-weight: 400
    letter-spacing: -0.01em

.footer-full
  position: relative
  padding-bottom 74px

.payments-box
  position relative
  text-align center
  background-color: #f7f7f7;
  height: 58px
  padding-top 20px
  span
    display inline-block
    position relative
    transform: translateY(-0.5em)
    margin-right 20px
  img
    display inline-block
    position relative

.footer-main
  border: 1px solid red
  display flex
  .footer-links
    display flex
    .footer-link
      a
        display block
.footer-short
  position: absolute
  bottom: 0
  border: 1px solid red
  height: 74px
