large-screen = 1080px
middle-screen = 815px
small-screen = 640px
body-text-color = #555555
font-weight-normal = 400
font-weight-bold = 700

color-back-activ = #fd926d
hot-menu-height = 45px

.hot-sales
  .hot-menu
    .hot-buttons
      margin 0px
      padding 0px
      border-width 0px
      display flex
      @media screen and (max-width: small-screen)
        flex-flow column
        width 100%
      a
        height: hot-menu-height
        display: flex
        align-items: center
        justify-content: space-between
        text-transform uppercase
        padding-left 15px
        padding-right 15px
        i.icon
          display none
        @media screen and (max-width: small-screen)
          height: 74px
          width 100%
          &:not(.active):not(.open)
            opacity: 0
            height: 0px
            display none
            overflow: hidden
          &.open
            display flex
            align-items: center
            justify-content: space-between
            border-bottom: 1px solid #555
        &:link
        &:visited
          text-decoration none
          color: body-text-color
        &:hover
          text-decoration underline
        &.active
          background-color color-back-activ
          color #ffffff
          @media screen and (max-width: small-screen)
            background-color: #f4845d
            color: #fff
            width 100%
            display flex
            &.open
              border-bottom: 1px solid #fff
            i.icon
              display inline-block
              font-size 1.6em

    .hot-leftrigth
      margin-left: auto
      height hot-menu-height
      padding 0px
      border-width 0px
      display flex
      @media screen and (max-width: small-screen)
        display none
      a
        display block
        text-align: center
        background-color #f2f2f2
        width hot-menu-height
        height hot-menu-height
        margin 0px
        padding 0px
        border-width 0px
        &.active
          background-color #fd926d
          color #ffffff
        i.icon
          cursor pointer
          display block
          position relative
          top 50%
          margin-top: -0.5em
          font-size 45px

  .hot-positions
    height 455px
    background-color #fd926d
    overflow hidden
