*
  box-sizing: border-box

body
  background: #ffffff
  font-family: Arial, sans-serif
  font-size: 14px
  font-weight: 400
  color: #555555
  text-align: left
  margin 0

#wrapper
  margin: auto
  max-width: 1200px
  padding-bottom 10px
