.slider-promo
  max-height: 515px

.slider-image
  width 100%
  background-color: #f6f3ec
  position: relative
  text-align: center
.slider-image>img
    max-width: 1200px
    width: 100%
    height: auto

.slider
  position: absolute
  display: table-cell
  width: 30px
  height: 118px
  top: 50%
  transform: translateY(-59px)
  background-color: rgba(255, 255, 255, 0.9);
  padding-top: 50px
  text-align: center
  cursor: pointer
  &.left
    left: 0px
  &.right
    right: 0px

slider-track-height = 75px
.slider-track
  height: slider-track-height
  display: flex
  justify-content: center
  a
    height: slider-track-height
    display: block
    position: relative
    i.icon
      display: block
      height: slider-track-height
      position: relative
      top: 50%
      transform: translateY(-0.5em)
      background-color: transparent
      width: 30px
      text-align: center
      &.selected
        color: #fd926d
      &.icon
        cursor: pointer
