.carousel-promo
  .carousel-image(ng-if="$ctrl.images.length" ng-class="$ctrl.direct")
    .local-wrapper(ng-swipe-left="$ctrl.setActiveNext()" ng-swipe-right="$ctrl.setActivePrevious()" ng-swipe-disable-mouse)
      a(ng-repeat="image in $ctrl.images" ng-href="image.url" ng-if="$ctrl.isActiveImg($index)")
        img(ng-src="{{image.src}}")
      .carousel.left(ng-click="$ctrl.setActivePrevious()")
        i.icon.mdi.mdi-chevron-left
      .carousel.right(ng-click="$ctrl.setActiveNext()")
        i.icon.mdi.mdi-chevron-right
      .carousel-action
  .local-wrapper
    nav.carousel-track
      a(ng-repeat="image in $ctrl.images" ng-click="$ctrl.setActiveIndex($index)")
        i.icon.mdi.mdi-record(ng-class="{active: $ctrl.isActiveImg($index)}")
