div.carousel-promo
  div.carousel-image
    div.local-wrapper
      img(ng-repeat="image in $ctrl.images" ng-src="{{image.url}}" ng-class="{active: image.active}")
      div.carousel.left
        img(ng-src="images/ArrowLeft.png")
      div.carousel.right
        img(ng-src="images/ArrowRight.png")
      div.carousel-action
  div.local-wrapper
    nav.carousel-track
      a
        i.icon.mdi.mdi-record
      a
        i.icon.mdi.mdi-record.selected
      a
        i.icon.mdi.mdi-record
      a
        i.icon.mdi.mdi-record
      a
        i.icon.mdi.mdi-record
