div.carousel-promo
  div.carousel-image
    div.local-wrapper
      img(ng-src="res/slider1.png" ng-class="{active: 1}")
      //
        img(ng-src="res/slider1.png")
        img(ng-src="res/slider1.png")
        img(ng-src="res/slider1.png")
        img(ng-src="res/slider1.png")
        img(ng-src="res/slider1.png")
      div.carousel.left
        img(ng-src="images/ArrowLeft.png")
      div.carousel.right
        img(ng-src="images/ArrowRight.png")
      div.carousel-action
  div.local-wrapper
    nav.carousel-track
      a
        i.icon.mdi.mdi-record
      a
        i.icon.mdi.mdi-record.selected
      a
        i.icon.mdi.mdi-record
      a
        i.icon.mdi.mdi-record
      a
        i.icon.mdi.mdi-record
