div.positions(id="{{$ctrl.mlssalebox.id}}")
  div.position(ng-repeat="a in $ctrl.mlssalebox.items")
    img.position-picture(ng-src="{{a.url}}")
    div.position-sale-corner(ng-if="a.sale") sale
    div.position-label
      div.position-name(ng-bind="a.title")
      div.position-price(ng-bind="a.price|currency")
      div.position-button
        span add to cart
        i.icon.mdi.mdi-plus
