div.positions
  div.position(ng-repeat="a in [{},{sale:true},{sale:true},{},{},{},{},{}]")
    img.position-picture(ng-src="res/Dress.png")
    div.position-sale-corner(ng-if="a.sale") sale
    div.position-label
      div.position-name hot short
      div.position-price 20$
      div.position-button
        span add to cart
        i.icon.mdi.mdi-plus
