div.positions(id="{{$ctrl.mlssalebox.id}}")
  div.position(ng-repeat="a in $ctrl.mlssalebox.items")
    img.position-picture(ng-src="{{a.url}}")
    div.position-sale-corner(ng-if="a.sale") sale
    div.position-label
      div.position-name hot short
      div.position-price 20$
      div.position-button
        span add to cart
        i.icon.mdi.mdi-plus
