doctype html
html(ng-app="shopLook")
  head
    base(href="#{basePath}")
    title(ng-bind="Page.getTitle()")

    meta(charset="utf-8")
    meta(name="fragment" content="!")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0")

    // build:css styles/main.css
    // bower:css
    link(rel='stylesheet', href='/bower_components/normalize.css/normalize.css')
    link(rel='stylesheet', href='/bower_components/mdi/css/materialdesignicons.css')
    link(rel='stylesheet', href='/bower_components/mdi/css/materialdesignicons.min.css')
    // endbower
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700italic,700&subset=latin,cyrillic")
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic&subset=latin,cyrillic')
    link(rel="stylesheet", href="/styles/main.css")
    link(rel="stylesheet", href="/styles/home.css")
    link(rel="stylesheet", href="/styles/header.css")
    link(rel="stylesheet", href="/styles/promo.css")
    link(rel="stylesheet", href="/styles/connectionsbar.css")
    link(rel="stylesheet", href="/styles/hot.css")
    link(rel="stylesheet", href="/styles/discounts.css")
    link(rel="stylesheet", href="/styles/footer.css")

    link(rel="stylesheet", href="/styles/carousel.css")
    link(rel="stylesheet", href="/styles/salebox.css")
    // endbuild

  body(ng-controller="GlobalCtrl")
    div#wrapper(ng-view)
    div.splash
    // build:js scripts/main.js
    // bower:js
    script(src='/bower_components/eventEmitter/EventEmitter.js')
    script(src='/bower_components/angular/angular.js')
    script(src='/bower_components/angular-resource/angular-resource.js')
    script(src='/bower_components/angular-cookies/angular-cookies.js')
    script(src='/bower_components/angular-route/angular-route.js')
    script(src='/bower_components/angular-animate/angular-animate.js')
    script(src='/bower_components/angular-touch/angular-touch.js')
    // endbower

    script(src='/scripts/app.js')

    script(src='/scripts/configs/config.js')
    script(src='/scripts/configs/http.js')
    script(src='/scripts/configs/routes.js')
    script(src='/scripts/configs/run.js')

    script(src='/scripts/factories/page.js')
    script(src='/scripts/factories/mlssaleboxfk.js')

    script(src='/scripts/controllers/global.js')
    script(src='/scripts/controllers/home.js')
    script(src='/scripts/controllers/mlscarouselctrl.js')
    script(src='/scripts/controllers/mlssaleboxnavctrl.js')
    script(src='/scripts/controllers/mlssaleboxctrl.js')

    script(src='/scripts/components/mlscarousel.js')
    script(src='/scripts/components/mlssaleboxnav.js')
    script(src='/scripts/components/mlssalebox.js')

    script(src='/scripts/splash.js')
    // endbuild
