div.user-toolbox.full-flex-container
  div.care-info custom care: 888-23-4567{{care.phone}}
  div.shop-settings
    div.currency-select
      span $ &nbsp; US &nbsp;
      i.icon.mdi.mdi-menu-down
    div.account-button
      i.icon.mdi.mdi-account &nbsp;
      span my account
    div.search-button
      i.icon.mdi.mdi-magnify

header.menu-box.full-flex-container
  img.shop-logo(ng-src="images/logo.png")
  nav.top-menu
    a.menu-item.menu-header(ng-class="{open: opened}") menu
      i.icon.mdi.mdi-menu(ng-click="opened=!opened")
    a.menu-transition.menu-item(ng-class="{open: opened}") new
      i.icon.mdi.mdi-menu-down
    a.menu-transition.menu-item(ng-class="{open: opened}") designers
      i.icon.mdi.mdi-menu-down
    a.menu-transition.menu-item(ng-class="{open: opened}") women
      i.icon.mdi.mdi-menu-down
    a.menu-transition.menu-item(ng-class="{open: opened}") men
      i.icon.mdi.mdi-menu-down
    a.menu-transition.menu-item(ng-class="{open: opened}") clearence
      i.icon.mdi.mdi-menu-down

  div.cart-box
    div.cart-button You cart
      i.icon.mdi.mdi-menu-down
    div.cart-menu(ng-show="0")
      div.menu-item
    div.cart-totall
      i.icon.mdi.mdi-shopping
      span.total 0 items|$0

div.slider-promo
  div.slider-image
      img(ng-src="res/slider1.png")
      div.slider.left
        img(ng-src="images/ArrowLeft.png")
      div.slider.right
        img(ng-src="images/ArrowRight.png")
      div.slider-action
  nav.slider-track
    a
      i.icon.mdi.mdi-record
    a
      i.icon.mdi.mdi-record.selected
    a
      i.icon.mdi.mdi-record
    a
      i.icon.mdi.mdi-record
    a
      i.icon.mdi.mdi-record

div.user-connections.full-flex-container
  section.email-subscription
    h2 Stay updated
    input(type="text" placeholder="Your email address")
    img.email-do(ng-src="images/EmailPlus.png")

  section.social-buttons
    h2 Find us here
    a(ng-href="http://facebook.com/")
      i.icon.mdi.mdi-facebook
    a(ng-href="http://twitter.com/")
      i.icon.mdi.mdi-twitter
    a(ng-href="http://pinterest.com/")
      i.icon.mdi.mdi-pinterest

div.promo-boxes
  div.promo-big
    img(ng-src="res/PromoBoxBig.png")
  div.promo-big
    div.promo-long
      img(ng-src="res/PromoBoxLong.png")
    div.promo-long
      div.promo-small
        img(ng-src="res/PromoBoxSmall1.png")
      div.promo-small
        img(ng-src="res/PromoBoxSmall2.png")

div.hot-sales
  div.hot-menu.full-flex-container
    menu.hot-buttons
      a.active(ng-class="{open: opened2}")
        span what`s hot
        i.icon.mdi.mdi-menu(ng-click="opened2=!opened2")
        //have to place .icon.mdi.mdi-menu on the active tab
      a(ng-href="2" ng-class="{open: opened2}")
        span designers
      a(ng-href="3" ng-class="{open: opened2}")
        span featured
      a(ng-href="4" ng-class="{open: opened2}")
        span latest
    nav.hot-leftrigth
      a.hot-left.active
        i.icon.mdi.mdi-chevron-left
      a.hot-rigth
        i.icon.mdi.mdi-chevron-right
  div.hot-positions
    //will be moved to directive
    div.positions
      div.position(ng-repeat="a in [1,2,3,4,5,6,7,8]")
        img.position-picture(ng-src="res/Dress.png")
        div.position-sale-corner.triangle
        div.position-label
          div.position-name hot shorts
          div.position-button
            //Have to use button
            span add to cart
            i.icon.mdi.mdi-plus

div.discounts
  div.discounts-top
    div.discounts-border
    img(ng-src="images/Clearance.png")
  div.discounts-positions
    //will be moved to directive
    div.positions
      div.position(ng-repeat="a in [1,2,3,4,5,6,7,8]")
        img.position-picture(ng-src="res/Dress.png")
        div.position-sale-corner
        div.position-label
          div.position-name hot shorts
          div.position-button
            span add to cart
            i.icon.mdi.mdi-plus

section.fav-brands-box
  h2.fav-brand-header favourite brands
  div.brand-logos
      img(ng-src="res/brands/Addict.png" alt="Addict")
      img(ng-src="res/brands/AbandonShip.png" alt="Abandon Ship")
      img(ng-src="res/brands/Adidas.png" alt="Adidas")
      img(ng-src="res/brands/BoyLondon.png" alt="Boy London")
      img(ng-src="res/brands/Converse.png" alt="Converse")
      img(ng-src="res/brands/CalvinKlein.png" alt="Calvin Klein")
      img(ng-src="res/brands/Edwin.png" alt="Edwin")
      img(ng-src="res/brands/Greenson.png" alt="Greenson")

section.about-box
  h2 About LookShop
  p.
    This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeosu dapibus condimentum sit amet a augue. condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.

footer.footer-full
  div.payments-box
    span We accept
    img(ng-src="res/Payments.png")
  div.footer-main.full-flex-container
    div.footer-links
      div.footer-link
        h2 Customer Service
        a(ng-href="1") Contact
        a(ng-href="1") FAQ
        a(ng-href="1") Terms of payment
        a(ng-href="1") Deliver terms and conditions
        a(ng-href="1") Returns and Refunds
      div.footer-link
        h2 Information
        a(ng-href="1") Affiliate
        a(ng-href="1") Cookies
        a(ng-href="1") How to Shop
        a(ng-href="1") About Nelly
        a(ng-href="1") Investor relations
      div.footer-link
        h2 Campaigns
        a(ng-href="1") Event dresses
        a(ng-href="1") Makeup
        a(ng-href="1") Fashion forward
        a(ng-href="1") training clothes
        a(ng-href="1") Special Occasion Dresses
      div.footer-link
        h2 Stores
        a(ng-href="1") Paris
        a(ng-href="1") New York
        a(ng-href="1") London
        a(ng-href="1") Madrid
        a(ng-href="1") Tokio
    div.footer-social
      h2 Social
      div.footer-social-icons
        a.round-social(ng-href="http://twitter.com")
          i.icon.mdi.mdi-twitter
        a.round-social(ng-href="http://pinterest.com")
          i.icon.mdi.mdi-pinterest
        a.round-social(ng-href="http://facebook.com")
          i.icon.mdi.mdi-facebook
        a.round-social(ng-href="http://plus.google.com")
          i.icon.mdi.mdi-google-plus
        a.round-social(ng-href="http://www.instagram.com/")
          i.icon.mdi.mdi-instagram
        a.round-social(ng-href="http://vimeo.com/")
          i.icon.mdi.mdi-vimeo
    div.footer-logo
      img(ng-src="images/Secured.png")
  div.footer-short.full-flex-container
    nav.footer-short-links
      a(ng-href="1" ng-class="{open: opened1}")
        span Privacy & Coolies
      a(ng-href="1" ng-class="{open: opened1}")
        span Terms & Conditions
      a(ng-href="1" ng-class="{open: opened1}")
        span Accessibility
      a(ng-href="1" ng-class="{open: opened1}")
        span Store Directory
      a(ng-href="1" ng-class="{open: opened1}")
        span About Us
      a.menu-header(ng-class="{open: opened1}")
        span menu
        i.icon.mdi.mdi-menu(ng-click="opened1=!opened1")

    div.footer-short-cr
      span &copy;LookShop.com
      span All Rights Reserved
