section.user-toolbox
  section.care-info custom care: 888-23-4567{{care.phone}}
  section.shop-settings
    section.currency-select $ US
    section.account-button my account
    section.search-button @
section.menu-box
  ul.top-menu
    li.menu-item
  section.cart-box
    section.cart-button
    ul.cart-menu
      li.menu-item
    section.cart-totall
section.slider-promo
  section.slider-image
    section.slider-left
    section.slider-right
    section.slider-action
  section.slider-track
section.user-connections
  section.email-subscription
  section.social-buttons
section.promo-boxes
  section.promo-big
  section.promo-long
  section.promo-small
  section.promo-small
section.hot-sales
  section.hot-menu
    section.hot-buttons
    section.hot-leftrigth
  section.hot-positions
    //will be moved to directive
    section.position
      section.position-sale-corner
      section.position-picture
      section.position-bottom
        section.position-button

section.discounts
  section.discounts-top
  section.discounts-positions
    //will be moved to directive
    section.position
      section.position-sale-corner
      section.position-picture
      section.position-bottom
        section.position-button
section.fav-brands-box
  ul.brands
    li.brand-logo
section.about-box
section.footer-menu

