.user-toolbox.full-flex-container
  .local-wrapper.full-flex-container
    .care-info custom care: 888-23-4567
      span(ng-bind="care.phone")
    .shop-settings
      .currency-select
        span $ &nbsp; US &nbsp;
        i.icon.mdi.mdi-menu-down
      .account-button
        i.icon.mdi.mdi-account &nbsp;
        span my account
      .search-button
        i.icon.mdi.mdi-magnify

header.menu-box
  .local-wrapper.full-flex-container
    img.shop-logo(ng-src="images/logo.png")
    nav.top-menu
      a.menu-item.menu-header(ng-class="{open: opened}") menu
        i.icon.mdi.mdi-menu(ng-click="opened=!opened")
      a.menu-transition.menu-item(ng-class="{open: opened}") new
        i.icon.mdi.mdi-menu-down
      a.menu-transition.menu-item(ng-class="{open: opened}") designers
        i.icon.mdi.mdi-menu-down
      a.menu-transition.menu-item(ng-class="{open: opened}") women
        i.icon.mdi.mdi-menu-down
      a.menu-transition.menu-item(ng-class="{open: opened}") men
        i.icon.mdi.mdi-menu-down
      a.menu-transition.menu-item(ng-class="{open: opened}") clearence
        i.icon.mdi.mdi-menu-down

    .cart-box
      .cart-button You cart
        i.icon.mdi.mdi-menu-down
      .cart-menu(ng-show="0")
        .menu-item
      .cart-totall
        i.icon.mdi.mdi-shopping
        span.total 0 items|$0
custom-carousel

.user-connections
  .local-wrapper.full-flex-container
    section.email-subscription
      h2 Stay updated
      input(type="text" placeholder="Your email address")
      img.email-do(ng-src="images/EmailPlus.png")

    section.social-buttons
      h2 Find us here
      a(ng-href="http://facebook.com/")
        i.icon.mdi.mdi-facebook
      a(ng-href="http://twitter.com/")
        i.icon.mdi.mdi-twitter
      a(ng-href="http://pinterest.com/")
        i.icon.mdi.mdi-pinterest

.promo-boxes
  .promo-big
    img(ng-src="res/PromoBoxBig.png")
  .promo-big
    .promo-long
      img(ng-src="res/PromoBoxLong.png")
    .promo-long
      .promo-small
        img(ng-src="res/PromoBoxSmall1.png")
      .promo-small
        img(ng-src="res/PromoBoxSmall2.png")

.hot-sales
  .hot-menu
    sale-box-nav.local-wrapper.full-flex-container(boxid="hotbox")

  .hot-positions
    sale-box(boxid="hotbox", boxtag="hot", navigation="1")

.discounts
  .discounts-top
    .discounts-border
    img(ng-src="images/Clearance.png")
  .discounts-positions
    sale-box(boxid="discountbox", boxtag="discount", navigation=0)

section.fav-brands-box
  .local-wrapper
    h2.fav-brand-header favourite brands
    .brand-logos
        img(ng-src="res/brands/Addict.png" alt="Addict")
        img(ng-src="res/brands/AbandonShip.png" alt="Abandon Ship")
        img(ng-src="res/brands/Adidas.png" alt="Adidas")
        img(ng-src="res/brands/BoyLondon.png" alt="Boy London")
        img(ng-src="res/brands/Converse.png" alt="Converse")
        img(ng-src="res/brands/CalvinKlein.png" alt="Calvin Klein")
        img(ng-src="res/brands/Edwin.png" alt="Edwin")
        img(ng-src="res/brands/Greenson.png" alt="Greenson")

section.about-box
  .local-wrapper
    h2 About LookShop
    p.
      This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeosu dapibus condimentum sit amet a augue. condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.

footer.footer-full
  .payments-box
    .local-wrapper
      span We accept
      img(ng-src="res/Payments.png")
  .footer-main
    .local-wrapper.full-flex-container
      .footer-links
        .footer-link
          h2 Customer Service
          a(ng-href="1") Contact
          a(ng-href="1") FAQ
          a(ng-href="1") Terms of payment
          a(ng-href="1") Deliver terms and conditions
          a(ng-href="1") Returns and Refunds
        .footer-link
          h2 Information
          a(ng-href="1") Affiliate
          a(ng-href="1") Cookies
          a(ng-href="1") How to Shop
          a(ng-href="1") About Nelly
          a(ng-href="1") Investor relations
        .footer-link
          h2 Campaigns
          a(ng-href="1") Event dresses
          a(ng-href="1") Makeup
          a(ng-href="1") Fashion forward
          a(ng-href="1") training clothes
          a(ng-href="1") Special Occasion Dresses
        .footer-link
          h2 Stores
          a(ng-href="1") Paris
          a(ng-href="1") New York
          a(ng-href="1") London
          a(ng-href="1") Madrid
          a(ng-href="1") Tokio
      .footer-social
        h2 Social
        .footer-social-icons
          a.round-social(ng-href="http://twitter.com")
            i.icon.mdi.mdi-twitter
          a.round-social(ng-href="http://pinterest.com")
            i.icon.mdi.mdi-pinterest
          a.round-social(ng-href="http://facebook.com")
            i.icon.mdi.mdi-facebook
          a.round-social(ng-href="http://plus.google.com")
            i.icon.mdi.mdi-google-plus
          a.round-social(ng-href="http://www.instagram.com/")
            i.icon.mdi.mdi-instagram
          a.round-social(ng-href="http://vimeo.com/")
            i.icon.mdi.mdi-vimeo
      .footer-logo
        img(ng-src="images/Secured.png")
  .footer-short
    .local-wrapper.full-flex-container
      nav.footer-short-links
        a(ng-href="1" ng-class="{open: opened1}")
          span Privacy & Coolies
        a(ng-href="1" ng-class="{open: opened1}")
          span Terms & Conditions
        a(ng-href="1" ng-class="{open: opened1}")
          span Accessibility
        a(ng-href="1" ng-class="{open: opened1}")
          span Store Directory
        a(ng-href="1" ng-class="{open: opened1}")
          span About Us
        a.menu-header(ng-class="{open: opened1}")
          span menu
          i.icon.mdi.mdi-menu(ng-click="opened1=!opened1")

      .footer-short-cr
        span &copy;LookShop.com
        span All Rights Reserved
